*{
    margin: 0;
    padding: 0;    
    font-family: Arial, Helvetica, sans-serif;
}
body{
    margin: auto 0px;
    display: flex;
    justify-content: center;
    background-color: #f0f1f3;
}
div.title{
    color: #1778F3;
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 5px;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    position: absolute;
    top: 45%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.container{
    margin: 10px;
    padding: 20px 25px;
    border-radius: 5px;
    width: 400px;
    height: 300px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 0px 5px 5px 2px rgba(0, 0, 0, 0.267);
    background-color: white;
    justify-content: space-around;
}
.boxes{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
input{
    height: 40px;
    padding: 5px 15px;
    border-radius: 2px;
    border: 1px solid #696969;
}
button{
    height: 50px;
    background-color: #1778F3;
    border: 0.5px solid #1778F3;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border-radius: 6px;
    transition: .2s ease-in-out;
}
.btn{
    color: white;
}
button:hover{
    color: #1778F3;
    background-color: white;
    border: 0.8px solid #1778F3;
    letter-spacing: 2px;
}
div a{
    color: #1778F3;
    text-decoration: none;
}
div a:hover{
    color: #1776f3c2;
    cursor: pointer;
}
.login{
    font-size: 24px;
    font-family: sans-serif;
}
.bottom{
    margin-top: 8px;
    font-size: 16px;
    display: flex;
    justify-content: space-evenly;
}